.tool-bar {
      -fx-font-size: 12pt;

  }
  #footer{
   -fx-background-color: #333333;
   }
   #header{
   -fx-border-color: transparent transparent #444444 transparent;
   -fx-border-width:  0 0 3 0;
   }